<div class="flex flex-col min-h-screen">
  <div class="border-b-2 border-b-teal mb-2">
    <h2 class="p-8 text-4xl">Space Trading</h2>
    <nav class="p-2">
      <ul class="inline">
        <li><a routerLink="/ships" class="hover:text-blue">Ships</a></li>
        <li><a routerLink="/systems" class="hover:text-blue">Systems</a></li>
      </ul>
    </nav>
  </div>
  <div class="grow p-2">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="p-2"><sub>&copy; 2023 Kaze Industries; GNU GPL v3; <a href="https://github.com/senshikaze/sptr">Github</a></sub></div>
</div>
<app-register *ngIf="!registered"></app-register>