<div class="flex flex-col min-h-screen">
  <div class="border-b-2 border-b-teal mb-2">
    <div class="flex flex-row">
      <h2 class="p-8 text-4xl">Space Trading</h2>
      <span class="flex-auto"></span>
      <app-agent-header></app-agent-header>
    </div>
    <nav class="p-2">
      <ul class="flex">
        <li><a routerLink="/ships" class="mr-6 hover:text-blue">Ships</a></li>
        <li><a routerLink="/systems" class="mr-6 hover:text-blue">Systems</a></li>
        <li><a routerLink="/contracts" class="mr-6 hover:text-blue">Contracts</a></li>
      </ul>
    </nav>
  </div>
  <div class="grow p-2">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="p-2"><sub>&copy; 2023 Kaze Industries; GNU GPL v3; <a class="hover:text-blue" href="https://github.com/senshikaze/sptr">Github</a></sub></div>
</div>
<app-register *ngIf="!registered"></app-register>
<app-error-message *ngIf="errorService.errored" [error]="errorService.error" (closeError)="errorService.setError(false, '')"></app-error-message>