<div class="flex flex-col min-h-screen">
  <div class="mb-2 border-b-2 border-b-teal">
    <div class="flex flex-row">
      <h2 class="p-8 text-3xl">Space Trading</h2>
      <span class="flex-auto"></span>
      <app-agent-header></app-agent-header>
    </div>
    <nav>
      <ul class="flex bg-gradient-to-t from-teal-300 to-gray-dark">
        <li><a class="p-3 bg-gradient-to-t from-teal-300 to-gray-dark hover:from-teal/60 block" routerLinkActive="!from-teal/90 hover:!text-gray" routerLink="/ships">Ships</a></li>
        <li><a class="p-3 bg-gradient-to-t from-teal-300 to-gray-dark hover:from-teal/60 block" routerLinkActive="!from-teal/90 hover:!text-gray"routerLink="/systems">Systems</a></li>
        <li><a class="p-3 bg-gradient-to-t from-teal-300 to-gray-dark hover:from-teal/60 block" routerLinkActive="!from-teal/90 hover:!text-gray"routerLink="/contracts">Contracts</a></li>
      </ul>
    </nav>
  </div>
  <div class="grow p-2">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="p-2"><sub>&copy; 2023 Kaze Industries; GNU GPL v3; <a class="hover:text-blue" href="https://github.com/senshikaze/sptr">Github</a></sub></div>
</div>
<app-register *ngIf="!registered"></app-register>
<div *ngIf="this.messageService.messages" class="flex-col p-2 w-3/5 fixed top-8 inset-x-0 mx-auto z-50">
  <app-message *ngFor="let message of this.messageService.messages" [message]="message"></app-message>
</div>
<app-modal class="z-30"></app-modal>