<div *ngIf="systems$ | async as systems">
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 text-left">Symbol</th>
                <th class="px-4 text-left">Sector</th>
                <th class="px-4 text-left">Type</th>
                <th class="px-4 text-left">Position</th>
                <th class="px-4 text-left">Waypoints</th>
                <th class="px-4 text-left">Factions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-gray-hover" *ngFor="let system of systems" >
                <td class="px-4 text-left">{{ system.symbol }}</td>
                <td class="px-4 text-left">{{ system.sectorSymbol }}</td>
                <td class="px-4 text-left">{{ system.type}}</td>
                <td class="px-4 text-left">x: {{ system.x }} y:{{ system.y }}</td>
                <td class="px-4 text-left">{{ system.waypoints.length }}</td>
                <td class="px-4 text-left">{{ system.factions.length }}</td>
                <a class="block border-2 border-teal p-2 m-2 bg-gray-dark hover:text-gray" [routerLink]="['/systems', system.symbol]">View</a>
            </tr>
        </tbody>
    </table>
    <paginator [page]="page" [limit]="limit" [total]="total" (pageChangeEvent)="changePage($event.newPage)"></paginator>
</div>
